In [ ]:
!wget -O "learn_ml_insurance_prediction__ai_challenge-dataset.zip" "https://dockship-job-models.s3.ap-south-1.amazonaws.com/196c328ad298ef1476f56437902688ef?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20210117%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20210117T064610Z&X-Amz-Expires=1800&X-Amz-Signature=5ea3f73e3ef6b43841db1b2b9314e0ae67b5f09895ec96d7b66d28f9d722df34&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22learn_ml_insurance_prediction__ai_challenge-dataset.zip%22"

--2021-01-17 06:46:20--  https://dockship-job-models.s3.ap-south-1.amazonaws.com/196c328ad298ef1476f56437902688ef?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20210117%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20210117T064610Z&X-Amz-Expires=1800&X-Amz-Signature=5ea3f73e3ef6b43841db1b2b9314e0ae67b5f09895ec96d7b66d28f9d722df34&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22learn_ml_insurance_prediction__ai_challenge-dataset.zip%22
Resolving dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)... 52.219.62.103
Connecting to dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)|52.219.62.103|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5149099 (4.9M) [binary/octet-stream]
Saving to: ‘learn_ml_insurance_prediction__ai_challenge-dataset.zip’

learn_ml_insurance_ 100%[===================>]   4.91M  2.51MB/s    in 2.0s

2021-01-17 06:46:23 (2.51 MB/s) - ‘learn_ml_insurance_prediction__ai_challenge-dataset.zip’ saved [5149099/5149099]

In [ ]:
!unzip learn_ml_insurance_prediction__ai_challenge-dataset.zip

Archive:  learn_ml_insurance_prediction__ai_challenge-dataset.zip
  inflating: sample_submission.csv
  inflating: TEST.csv
  inflating: TRAIN.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore", category= DeprecationWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import xgboost as xgb
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
def read_data(train_data, test_data):

  train_data = pd.read_csv(train_data)
  test_data = pd.read_csv(test_data)

  combine_df = train_data.append(test_data, ignore_index = True, sort = False)

  return train_data,test_data,combine_df

In [ ]:
train_data,test_data,combine_df = read_data('TRAIN.csv','TEST.csv')

In [ ]:
train_data.head()

       id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0  350957    Male   50  ...                   124      240         0
1  239788  Female   48  ...                   124      274         0
2  348272  Female   34  ...                   156      138         1
3   73940  Female   43  ...                   124      223         0
4  292871    Male   29  ...                   152      106         0

[5 rows x 12 columns]

In [ ]:
# train_data.info()
train_data.isnull().sum()
# for col in train_data.columns:
#   print(train_data[col].value_counts())

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

In [ ]:
# # train_data.pet_category.value_counts().plot(by='breed_category' ,kind='bar')
# train_data.breed_category.value_counts().plot(kind='bar')
cols = train_data.columns

# # cols
for col in cols:
#   plt.figure(figsize=(20,5))
  print(train_data[col].value_counts())
    # train_data[col].value_counts().plot(kind='bar')

#   plt.xlabel(col)
#   plt.show()


# # train_data.hist(column='pet_category',by='breed_category')

2047      1
352761    1
356859    1
346620    1
344573    1
         ..
134379    1
140526    1
142575    1
187633    1
2049      1
Name: id, Length: 304887, dtype: int64
Male      164823
Female    140064
Name: Gender, dtype: int64
24    20847
23    19381
22    16747
25    16507
21    13204
      ...
81       50
82       20
83       16
84        8
85        8
Name: Age, Length: 66, dtype: int64
1    304239
0       648
Name: Driving_License, dtype: int64
28    85047
8     27296
46    15794
41    14621
15    10612
30     9673
29     8859
50     8193
3      7420
11     7386
36     7044
33     6068
47     5986
35     5513
6      4995
45     4515
37     4380
18     4166
14     3733
48     3709
39     3690
10     3507
21     3410
13     3211
2      3183
7      2625
12     2577
9      2437
32     2261
27     2251
43     2119
17     2109
26     2088
25     2027
24     1963
0      1633
38     1623
16     1600
23     1573
31     1565
20     1561
49     1458
4      1445
34     1339
19     1211
40     1058
22     1033
5      1023
1       802
44      649
42      480
52      217
51      149
Name: Region_Code, dtype: int64
0    165116
1    139771
Name: Previously_Insured, dtype: int64
1-2 Year     160244
< 1 Year     131823
> 2 Years     12820
Name: Vehicle_Age, dtype: int64
Yes    153897
No     150990
Name: Vehicle_Damage, dtype: int64
2630     51898
69856      106
38287       35
36086       33
43707       32
         ...
46179        1
48226        1
83037        1
68692        1
16392        1
Name: Annual_Premium, Length: 46417, dtype: int64
152    107762
26      63799
124     59170
160     17471
156      8525
        ...
84          1
112         1
28          1
41          1
143         1
Name: Policy_Sales_Channel, Length: 151, dtype: int64
256    1156
282    1133
131    1130
31     1125
160    1122
       ...
235     987
224     974
237     967
205     966
277     964
Name: Vintage, Length: 290, dtype: int64
0    267582
1     37305
Name: Response, dtype: int64

In [ ]:
# test_data.info()
test_data.isnull().sum()

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
dtype: int64

In [ ]:
cols = test_data.columns

# cols
for col in cols[3:]:
  plt.figure(figsize=(20,5))
  test_data[col].value_counts().plot(kind='bar')
  plt.xlabel(col)
  plt.show()

In [ ]:
train_data.shape

# train_data.isnull().sum()

(304887, 12)

In [ ]:
from sklearn.preprocessing import LabelEncoder
def preprocessing(df,df_test):

  le = LabelEncoder()
  cleanup_nums = { "Driving_License":     {0: "Not_present", 1: "present"},
                  "Previously_Insured": {1: "Yes", 0: "No"},
                  "Vehicle_Age": {"1-2 Year" :"1or2_Year" ,"< 1 Year" : " less_than_1_Year","> 2 Years" : "more_than_2_Years"}
                  }                

  df = df.replace(cleanup_nums)
  # obj_df.head()
  df_test = df_test.replace(cleanup_nums)


  dummy_cat_cols=pd.get_dummies(df[['Gender','Vehicle_Age','Vehicle_Damage','Driving_License','Previously_Insured']])
  df = pd.concat([df,dummy_cat_cols],axis=1)


  test_dummy_cat_cols=pd.get_dummies(df_test[['Gender','Vehicle_Age','Vehicle_Damage','Driving_License','Previously_Insured']])
  df_test = pd.concat([df_test,test_dummy_cat_cols],axis=1)


  print("Nulls in each column:", df.isnull().sum())

  df = df.drop(columns = ['Gender','Vehicle_Age','Vehicle_Damage','Driving_License','Previously_Insured','Vintage'],inplace = False)
  df_test = df_test.drop(columns = ['Gender','Vehicle_Age','Vehicle_Damage','Driving_License','Previously_Insured','Vintage'],inplace = False)


  return df,df_test

In [ ]:
train_data,test_data = preprocessing(train_data,test_data)
# test_data = test_preprocessing(test_data)

Nulls in each column: id                               0
Gender                           0
Age                              0
Driving_License                  0
Region_Code                      0
Previously_Insured               0
Vehicle_Age                      0
Vehicle_Damage                   0
Annual_Premium                   0
Policy_Sales_Channel             0
Vintage                          0
Response                         0
Gender_Female                    0
Gender_Male                      0
Vehicle_Age_ less_than_1_Year    0
Vehicle_Age_1or2_Year            0
Vehicle_Age_more_than_2_Years    0
Vehicle_Damage_No                0
Vehicle_Damage_Yes               0
Driving_License_Not_present      0
Driving_License_present          0
Previously_Insured_No            0
Previously_Insured_Yes           0
dtype: int64

In [ ]:
train_data.head()

       id  Age  ...  Previously_Insured_No  Previously_Insured_Yes
0  350957   50  ...                      1                       0
1  239788   48  ...                      1                       0
2  348272   34  ...                      1                       0
3   73940   43  ...                      1                       0
4  292871   29  ...                      0                       1

[5 rows x 17 columns]

In [ ]:
test_data.head()

       id  Age  ...  Previously_Insured_No  Previously_Insured_Yes
0  291378   31  ...                      1                       0
1  154746   24  ...                      0                       1
2  218512   25  ...                      0                       1
3  173930   49  ...                      1                       0
4  241471   55  ...                      1                       0

[5 rows x 16 columns]

In [ ]:
from sklearn.tree import DecisionTreeClassifier
y = train_data[['Response']]

x = train_data.drop(columns=['Response'],inplace=True)

In [ ]:
x = train_data.drop(columns=['id'])

In [ ]:
x.head()

   Age  Region_Code  ...  Previously_Insured_No  Previously_Insured_Yes
0   50           41  ...                      1                       0
1   48           28  ...                      1                       0
2   34           41  ...                      1                       0
3   43           28  ...                      1                       0
4   29           28  ...                      0                       1

[5 rows x 16 columns]

In [ ]:
# x.color_type.value_counts()

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(x,y,test_size = 0.0001,random_state=42)

In [ ]:
len(x.columns)
x.columns
# test_data.columns

Index(['Age', 'Region_Code', 'Annual_Premium', 'Policy_Sales_Channel',
       'Gender_Female', 'Gender_Male', 'Vehicle_Age_ less_than_1_Year',
       'Vehicle_Age_1or2_Year', 'Vehicle_Age_more_than_2_Years',
       'Vehicle_Damage_No', 'Vehicle_Damage_Yes',
       'Driving_License_Not_present', 'Driving_License_present',
       'Previously_Insured_No', 'Previously_Insured_Yes'],
      dtype='object')

In [ ]:
from sklearn.ensemble import RandomForestClassifier
import lightgbm
# response_model =  RandomForestClassifier()


response_model =  xgb.XGBClassifier(
    
    learning_rate =0.1,
 n_estimators=80,
 max_depth=5,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1,
 seed=27
)
# response_model =  GradientBoostingClassifier()
# response_model = lightgbm.LGBMClassifier()

response_model.fit(X_train,y_train)
# print(response_model.feature_importances_)

print(classification_report(y_val, response_model.predict(X_val)))

preds_breed = response_model.predict(test_data.drop(columns=['id']))

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

              precision    recall  f1-score   support

           0       0.87      1.00      0.93        27
           1       0.00      0.00      0.00         4

    accuracy                           0.87        31
   macro avg       0.44      0.50      0.47        31
weighted avg       0.76      0.87      0.81        31

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
# cnt =1

In [ ]:
submission =  pd.DataFrame({'id':test_data['id'],'Response':preds_breed})
submission.to_csv('sub'+str(cnt)+'.csv',index=0)
cnt+=1

In [ ]:
# drop = any
# TS =0.2
#rf = 92.04565
#xgb = 91.43821 
# lgbm = 91.26
#gb = 89.6907



# drop = any
# TS =0.0001
#rf = 91.55530
#xgb = 91.85899 
# lgbm = 91.61638
#gb = 89.6907


# drop = median()
# TS =0.0001
#rf = 91.85899
#xgb = 91.13944 
# lgbm = 89.47558
#gb = 89.6907